<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apex商店</title>
    <link rel="stylesheet" href="../static/css/zhuye.css">
</head>
<body>
  <header>
    <h1>APEX商店</h1>
  </header>
  <main>
    <div class="product">
      <img src="../static/images/product1.jpg" alt="Product 1">
      <p>天梯排名</p>
    </div>
    <div class="product">
        <a href="http://127.0.0.1:5000/auth/login" target="_blank">
          <img src="../static/images/product2.jpg" alt="Product 2">
          <p>商店</p>
        </a>
    </div>
    <div class="product">
      <img src="../static/images/product3.jpg" alt="Product 3">
      <p>阵容梯度</p>
    </div>
    <div class="product">
      <img src="../static/images/product4.jpg" alt="Product 4">
      <p>精彩回放</p>
    </div>
    <div class="product">
      <img src="../static/images/product5.jpg" alt="Product 5">
      <p>手柄学习专区</p>
    </div>
    <div class="product">
      <img src="../static/images/product6.jpg" alt="Product 6">
      <p>服务器投诉</p>
    </div>
  </main>
  <script>
      window.onbeforeunload = function (){
          fetch('logout',{method:'POST'});
      };
  </script>
  <footer>
    &copy; 2024 APEX商店网页版
  </footer>
</body>
</html>